<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
    <title>Projeto 02 Módulo 2</title>
</head>
  
<body>

  <nav>
    
    <img id= 'logo' src="https://www.pngitem.com/pimgs/m/442-4421980_saint-seiya-logo-png-transparent-png.png" alt="logo saint seiya">
    <ul>      
      <li>.01-Seiya de Pégaso</li>
      <li>.02-Shiryu de Dragão</li>
      <li>.03-Shun de Andrômeda</li>
      <li>.04-Hyoga de Cisne</li>
      <li>.05-Ikki de Fênix</li>
    </ul>
  </nav>

  <main>
    <header>

      <h1>Cavaleiros do Zodíaco</h1>      
    </header>

    <h2 id ='subtitulo'>Cavaleiros</h2>
    
      
        <section id='cards'>
 
            <% cavaleiros.forEach((personagem)=> { %>
          <div>
                <h2 class ='id'> <%= personagem.id %> </h2>
                <h2 class ='nome'> <%= personagem.nome %> </h2>
                <img src="<%= personagem.imagem %>" alt = 'cavaleiro'>
                
                <h2 class = classificaçao ><%=personagem.classificaçao  %></h2>
                <h2 class = armadura> Armadura: <%=personagem.armadura  %></h2>
                <h2 class = cosntelaçao> Constelação: <%=personagem.constelaçao  %></h2>
                <h2 class = divindade>Divindade: <%=personagem.divindade %></h2>
                  
                  <p class = aniversario >Aniversário: <%= personagem.aniversario %> </p>
                  <p class = signo>Signo: <%= personagem.signo %></p>
                  <p class = habilidade>Golpe Especial: <%= personagem.habilidade %></p>

                  <h3 class = 'descriçao'>Descrição: <%= personagem.descriçao %></h3>                
              </div>                        <% }) %>

          <img id ='background' src='https://i.pinimg.com/originals/f2/d2/1e/f2d21e3eabd1a79d69dc046d99ae9905.jpg'>
                
        </section>

  </main>
 
</body>
</html>





        